astroid==2.11.3
click==8.1.2
dill==0.3.4
evdev==1.5.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pycairo==1.21.0
PyGObject==3.42.1
pylint==2.13.7
pynput==1.7.6
python-xlib==0.31
six==1.16.0
tomli==2.0.1
wrapt==1.14.0
